@charset "UTF-8";
/*  Estilos EdLDD v.0.1
    Juan Carlos Arroyo © 2020
    jcarroyos@gmail.com */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
.container {
  overflow: hidden;
  z-index: 1;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh; }

code {
  position: absolute;
  display: block;
  z-index: 1;
  padding: 1em;
  right: 0;
  bottom: 0; }

.card {
  padding: 1em;
  margin: 1.2em;
  border-radius: 0 10px 0px 10px;
  font-size: 1.44em;
  font-weight: 200;
  background-color: rgba(255, 255, 255, 0.7); }

.section {
  background-size: cover;
  background-color: #006d72;
  text-align: center; }

.section h2 {
  color: white;
  text-shadow: 1px 1px 2px #006d72;
  font-size: 1.44em;
  padding: 1em; }

@media (min-width: 992px) {
  .section h2 {
    font-size: 1.728em; } }

@media (min-width: 1200px) {
  .section h2 {
    font-size: 2.074em; } }

.section.normal .container {
  justify-content: center; }

.section.normal .fp-tableCell {
  vertical-align: unset; }

.section.normal h2 {
  color: white;
  text-shadow: 1px 1px 2px #006d72;
  font-size: 1.44em;
  padding: 0.694em;
  width: 70vw;
  margin-bottom: -100px; }

@media (min-width: 992px) {
  .section.normal h2 {
    margin-bottom: initial;
    font-size: 1.44em; } }

@media (min-width: 1200px) {
  .section.normal h2 {
    font-size: 1.728em; } }

.section.normal .textos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.section.normal .textos .parrafo {
  width: 80vw;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.44em;
  text-shadow: 1px 1px 2px black;
  color: white;
  margin: 0; }

@media (min-width: 992px) {
  .section.normal .textos .parrafo {
    font-size: 1.44em;
    line-height: 1.728em; } }

.section.animada .container {
  justify-content: center; }

@media (min-width: 1200px) {
  .section.animada .container {
    justify-content: start; } }

.section.animada .textos {
  width: 90vw; }

@media (min-width: 992px) {
  .section.animada .textos {
    width: 70vw; } }

@media (min-width: 1200px) {
  .section.animada .textos {
    width: 60vw;
    transform: translateX(15vw); } }

.section.animada .textos .titulo {
  font-size: 1.44em; }

@media (min-width: 1200px) {
  .section.animada .textos .titulo {
    font-size: 1.728em; } }

.section.animada .textos .subtitulo {
  font-size: 1.2em; }

@media (min-width: 1200px) {
  .section.animada .textos .subtitulo {
    font-size: 1.44em; } }

.section.animada .textos .txt {
  font-size: 1em;
  background: rgba(255, 255, 255, 0.8);
  padding: 1.44em;
  margin: 20px 10px;
  font-weight: 400;
  line-height: 1.44em;
  border-radius: 0 20px 0 20px; }

.section .page_Animation {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: column;
  z-index: 0; }

.section .page_Animation .capa {
  background-size: cover;
  background-position: right;
  position: absolute;
  width: 100vw;
  height: 100vh; }

.section .page_Animation .capa.superiorDerecha {
  background-size: 70vmin;
  background-repeat: no-repeat;
  background-position: top right; }

.section .page_Animation .capa.superiorIzquierda {
  background-size: 70vmin;
  background-repeat: no-repeat;
  background-position: top left; }

.section .page_Animation .capa.inferiorDerecha {
  background-size: 70vmin;
  background-repeat: no-repeat;
  background-position: bottom right; }

.section .page_Animation .capa.inferiorIzquierda {
  background-size: 70vmin;
  background-repeat: no-repeat;
  background-position: bottom left; }

.section.carousel h2 {
  color: white;
  text-shadow: 1px 1px 2px #006d72;
  font-size: 1.44em;
  padding: 1.2em; }

@media (min-width: 1200px) {
  .section.carousel h2 {
    font-size: 1.728em; } }

.section.carousel h3 {
  position: absolute;
  text-shadow: 1px 1px 2px #006d72;
  width: fit-content;
  margin: 0 auto;
  display: block;
  top: 3vh;
  color: white;
  font-size: 1.44em;
  font-weight: 200; }

@media (min-width: 992px) {
  .section.carousel h3 {
    top: 5vh;
    font-size: 1.728em; } }

@media (min-width: 1200px) {
  .section.carousel h3 {
    font-size: 2.074em; } }

.section.mapa > .container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60% 1fr;
  align-content: center;
  justify-items: center; }

@media (min-width: 992px) {
  .section.mapa > .container {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr; } }

@media (min-width: 1200px) {
  .section.mapa > .container {
    grid-template-columns: 40% 1fr; } }

.section.mapa .textos {
  width: 90%;
  height: 100%; }

@media (min-width: 992px) {
  .section.mapa .fp-controlArrow.fp-prev,
  .section.mapa .fp-controlArrow.fp-next {
    top: initial; } }

@media (min-width: 992px) {
  .section.mapa .fp-controlArrow.fp-next {
    right: 52%; } }

@media (min-width: 1200px) {
  .section.mapa .fp-controlArrow.fp-next {
    right: 61.6%; } }

.section.mapa .fp-slidesNav.fp-bottom {
  top: 50%; }

@media (min-width: 992px) {
  .section.mapa .fp-slidesNav.fp-bottom {
    top: initial;
    width: 50%;
    margin: 0 !important; } }

@media (min-width: 1200px) {
  .section.mapa .fp-slidesNav.fp-bottom {
    width: 40%; } }

.section.mapa .titulo {
  position: absolute;
  text-shadow: 1px 1px 2px #006d72;
  color: white;
  text-shadow: 1px 1px 2px #006d72;
  font-size: 1.44em;
  padding: 0 1em;
  display: block;
  top: 3vh;
  color: white;
  font-size: 1.2em;
  font-weight: 200; }

@media (min-width: 992px) {
  .section.mapa .titulo {
    top: 5vh;
    font-size: 1.728em; } }

.section.mapa .slide-container {
  background: linear-gradient(135deg, rgba(153, 255, 255, 0.6) 0%, rgba(131, 11, 196, 0.4) 100%);
  max-height: 95%;
  width: 85%;
  overflow-y: auto; }

.section.mapa .slide h4 {
  font-size: 1em;
  margin: 0.833em; }

@media (min-width: 992px) {
  .section.mapa .slide h4 {
    font-size: 1.2em;
    margin: 1em; } }

.section.mapa .slide p {
  width: 95%;
  text-align: justify;
  margin: 0.694em;
  font-size: 0.833em; }

@media (min-width: 992px) {
  .section.mapa .slide p {
    font-size: 1em; } }

#fp-nav ul li a span {
  background-color: #e6da35; }

.fp-slidesNav {
  width: fit-content; }

.fp-controlArrow.fp-prev {
  position: absolute;
  left: 1em; }

.fp-controlArrow.fp-next {
  position: absolute;
  right: 1em; }

#fp-nav.fp-right {
  right: 0px; }

.fp-slidesNav ul li a span,
#fp-nav ul li a span {
  background: yellow !important; }

.slide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 60%;
  background: linear-gradient(45deg, rgba(154, 46, 219, 0.9) 0%, rgba(0, 204, 204, 0.1) 100%);
  border-radius: 0 20px 0 20px;
  padding: 1.44em;
  color: white;
  text-shadow: 1px 1px 2px #00cccc; }

@media (min-width: 768px) {
  .slide-container {
    width: 80%; } }

.slide-container h4 {
  font-size: 1.2em; }

.slide-container p {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 1.2em;
  line-height: 1em;
  text-align: justify; }

@media (min-width: 992px) {
  .slide-container p {
    line-height: 1.2em; } }

.slide-container li {
  font-size: 1em;
  line-height: 1em; }

.slide-container .textos {
  width: 100%;
  height: 100%; }

.slide > .fp-tableCell {
  height: 100% !important; }

.slide .fp-controlArrow.fp-prev {
  height: 30%; }

.mapaSlide {
  display: block;
  height: 100%;
  width: 100%; }

.mapaSlide .container {
  position: static;
  display: flex;
  width: 100%;
  height: 100%; }

.icon-scroll {
  z-index: 999;
  cursor: pointer;
  position: fixed;
  display: block;
  width: 30px;
  height: 60px;
  margin-left: -20px;
  top: 95vh;
  margin-top: -35px;
  box-shadow: inset 0 0 0 3px #e6da35;
  border-radius: 25px;
  position: absolute;
  left: 50%; }

.icon-scroll::before {
  content: '';
  width: 8px;
  height: 8px;
  background: #e6da35;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
  left: 50%;
  position: absolute; }

.u-scroll {
  left: 70%; }

@keyframes scroll {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(46px); } }

.veladura {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  position: absolute; }

.link,
.link:visited {
  color: #e6da35; }

video {
  width: 80%;
  height: 80%;
  background-size: 100% 100%;
  background-color: black;
  /* in case the video doesn't fit the whole page*/
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  /*cover video background */
  z-index: 3;
  outline: none; }

@media (max-width: 767px) {
  video {
    width: 100%;
    height: auto; } }

video::focus {
  outline: none; }

.titulo,
.subtitulo {
  text-align: center; }

.subtitulo {
  font-size: xx-large;
  font-weight: bold; }

.mapContainer {
  width: 100%;
  height: 100%; }

html,
* {
  font-family: 'Work Sans', sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-size: calc(2vmin + 1vmax); }

@media (min-width: 992px) {
  html,
  * {
    font-size: calc(1vmin + 1vmax); } }

@media (min-width: 1200px) {
  html,
  * {
    font-size: calc(1vmin + 1vmax); } }
