// colores primarios
$azul: #00CCCC;
$azul_oscuro: #006D72;
$azul_brillante: #99FFFF;
$azul_claro: #CCFFFF;
// colores secundarios
$morado: #9A2EDB;
$morado_oscuro: #830BC4;
$morado_brillante: #C263F9;
$morado_claro: #E5B3FE;
// degradados
$ac_mo: linear-gradient(90deg, rgba(204,255,255,1) 0%, rgba(131,11,196,1) 100%);


// hacks mini.css
.container{
    background: $ac_mo;
}

// hacks fullpage.js
.section{
    background-size: cover;
    background-position: right;
}

h3 {color: $morado_oscuro;}